<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
    <title>Home Page</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
     <p>URL Generated: http://127.0.0.1:8001/url/<%= id %></p>
    <% } %>
    <div class="form_">
        <form method="POST" action="/url">
            <label for="Url">Enter Your Original URL:</label>
            <input type="text" name="url" placeholder="https://example.com" required>
            <button type="submit">Generate</button>
        </form>
    </div>
</body>
</html>